@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url(../fonts/pt-sans-regular.woff2) format("woff2");
 font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/pt-sans-bold.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding: 15px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.button-big {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 4px;
}

.button-blue {
    color: #ffffff;
    background-color: #82B3D3;
}

.button-green {
    color: #ffffff;
    background-color: #7DB54F;
}

.button-brown {
    color: #ffffff;
    background-color: #756157;
}

.main-container {
    flex-grow: 1;
    margin: 0 auto;
    width: 1200;
}


.page-container {
    width: 1200;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.header-logo {
    width: 139px;
    margin-right: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user .navigation-link {
    min-width: 42px;
    min-height: 66px;
}

.navigation-link {
    display: block;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    text-align: left;
    text-decoration: none; 
    padding: 20px 16px;
    margin: 0;
}

.navigation-search {
    background-image: url(../images/icons/search.svg);
    width: 20px;
    height: 20px;
}

.welcome-wrapper-image {
    display: block;
    margin: 0 auto;
    width: 1200px;
}


.divider {
    display: block;
    width: 100%;
    height: 57px;
    margin-top: -57px;
}

.welcome-wrapper {
    display: block;
    margin: 0 auto;
    width: 800px;
    padding-top: 64px;
    padding-bottom: 90px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.index-column {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.index-column-reverse {
    flex-direction: row-reverse;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.advantages-subtitle {
    margin-top: 30px;
    margin-bottom: 0px;
}

.wrap-advantages {
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    width: 230px;
    margin: 0 auto;
    padding: 92px 85px;
}

.wrap-advantages-light {
    background-color: #F0F6FA;
    color: #000000;
}

.wrap-advantages-white {
    background-color: #ffffff;
    color: #000000;
}

.wrap-advantages-middle {
    background-color: #E6F0F6;
    color: #000000;
}

.section-title {
    text-align: center; 
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}

.section-subtitle {
    text-align: center; 
    font-size: 22px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-with-pic {
    background-image: url(../images/background-subscription.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    background-color: #81B3D3;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-white {
    text-align: center; 
}

.section-with-button {
    display: block;
    margin: 0 auto;
    width: 590px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.contacts-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    padding: 52px 40px;
    margin: 0 auto;
}

.footer-social {
    display: flex;
    width: 162px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 22px;
    margin-bottom: 16px;
}

.social-icon:nth-child(3n){
    margin-right: 0;
}

.contacts-adress {
    width: 720px;
    margin-right: 52px;
    text-align: center;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    list-style-type: none;
}

.breadcrumbs-link {
    color: inherit;
}

.sorting-container {
    background-image: url(../images/background-catalog.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #81B3D3;
    width: 1200px;
    padding-left: 70px;
    padding-top: 35px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.catalog-filter {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.founded-hotels-settings {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    padding: 50px 72px;
}

.filter-result-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    width: 448px;
}

.view {
    display: flex;
    width: 160px;
    margin-right: 8px;
}

.select-control {
    width: 287px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #333333;
    background-color: #FFFFFF;
    border: 2px;
    border-color: #E5E5E5;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 0;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0px 72px;
    margin: 0;
    list-style-type: none;
}

.product-card {
    background-color: #ffffff;
    width: 340px;
    padding: 20px;
}
  
.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.page-settings {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    padding: 30px 72px;
}

.pagination {
    display: flex;
    width: 370px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    border: none;
    background-color:#82B3D3;
    padding: 9px 16px 10px 16px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.pagination-item:not(:last-child){
    margin-right: 8px;
}

.pagination-link-current {
    color: #000000;
    background-color:#F2F2F2;
}