@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url(../fonts/pt-sans-regular.woff2) format("woff2");
 font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/pt-sans-bold.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}

.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.button-big {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.button-blue {
    color: #ffffff;
    background-color: #82B3D3;
}

.button-green {
    color: #ffffff;
    background-color: #7DB54F;
}

.button-brown {
    color: #ffffff;
    background-color: #756157;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    text-align: left;
    text-decoration: none; 
}

.navigation-search {
    background-image: url(../images/icons/search.svg);
    width: 20px;
    height: 20px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.wrap-advantages {
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}

.wrap-advantages-light {
    background-color: #F0F6FA;
    color: #000000;
}

.wrap-advantages-white {
    background-color: #ffffff;
    color: #000000;
}

.wrap-advantages-middle {
    background-color: #E6F0F6;
    color: #000000;
}

.section-title {
    text-align: center; 
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-subtitle {
    text-align: center; 
    font-size: 22px;
    line-height: 26px;
}

.section-with-pic {
    background-image: url(../images/background-subscription.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    background-color: #81B3D3;
}

.section-white {
    text-align: center; 
}

.contacts-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    color: #FFFFFF;
}

.breadcrumbs-link {
    color: inherit;
}

.sorting-container {
    background-image: url(../images/background-catalog.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #81B3D3;
}

.product-card {
    background-color: #ffffff;
}
  
.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.pagination-item {
    width: 60px;
    height: 60px;
    background:#82B3D3;
    border-radius: 4px;
    border: none;
}

.pagination-item-current {
    background:#F2F2F2;
}

.pagination-link-current {
    color: #000000;
}